In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style('darkgrid')

In [2]:
df = pd.read_csv('ufcdata/data.csv')
df.head()

,R_fighter,B_fighter,Referee,date,location,Winner,title_bout,weight_class,no_of_rounds,B_current_lose_streak,...,R_win_by_KO/TKO,R_win_by_Submission,R_win_by_TKO_Doctor_Stoppage,R_wins,R_Stance,R_Height_cms,R_Reach_cms,R_Weight_lbs,B_age,R_age
0,Henry Cejudo,Marlon Moraes,Marc Goddard,2019-06-08,"Chicago, Illinois, USA",Red,True,Bantamweight,5,0.0,...,2.0,0.0,0.0,8.0,Orthodox,162.56,162.56,135.0,31.0,32.0
1,Valentina Shevchenko,Jessica Eye,Robert Madrigal,2019-06-08,"Chicago, Illinois, USA",Red,True,Women's Flyweight,5,0.0,...,0.0,2.0,0.0,5.0,Southpaw,165.10,167.64,125.0,32.0,31.0
2,Tony Ferguson,Donald Cerrone,Dan Miragliotta,2019-06-08,"Chicago, Illinois, USA",Red,False,Lightweight,3,0.0,...,3.0,6.0,1.0,14.0,Orthodox,180.34,193.04,155.0,36.0,35.0
3,Jimmie Rivera,Petr Yan,Kevin MacDonald,2019-06-08,"Chicago, Illinois, USA",Blue,False,Bantamweight,3,0.0,...,1.0,0.0,0.0,6.0,Orthodox,162.56,172.72,135.0,26.0,29.0
4,Tai Tuivasa,Blagoy Ivanov,Dan Miragliotta,2019-06-08,"Chicago, Illinois, USA",Blue,False,Heavyweight,3,0.0,...,2.0,0.0,0.0,3.0,Southpaw,187.96,190.50,264.0,32.0,26.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5144 entries, 0 to 5143
Columns: 145 entries, R_fighter to R_age
dtypes: bool(1), float64(134), int64(1), object(9)
memory usage: 5.7+ MB

In [4]:
df2 = pd.read_csv('ufcdata/raw_fighter_details.csv')
df2.head()

  fighter_name  Height    Weight Reach Stance  DOB
0   AJ Fonseca   5' 4"  145 lbs.   NaN    NaN  NaN
1  AJ Matthews  5' 11"  185 lbs.   NaN    NaN  NaN
2     AJ McKee  5' 10"  145 lbs.   NaN    NaN  NaN
3    AJ Siscoe   5' 7"  135 lbs.   NaN    NaN  NaN
4   Aalon Cruz   6' 0"  145 lbs.   NaN    NaN  NaN

In [5]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3313 entries, 0 to 3312
Data columns (total 6 columns):
fighter_name    3313 non-null object
Height          3050 non-null object
Weight          3238 non-null object
Reach           1569 non-null object
Stance          2439 non-null object
DOB             2573 non-null object
dtypes: object(6)
memory usage: 155.4+ KB

In [6]:
df3 = pd.read_csv('ufcdata/raw_total_fight_data.csv', sep = ';')
df3.head()

,R_fighter,B_fighter,R_KD,B_KD,R_SIG_STR.,B_SIG_STR.,R_SIG_STR_pct,B_SIG_STR_pct,R_TOTAL_STR.,B_TOTAL_STR.,...,B_GROUND,win_by,last_round,last_round_time,Format,Referee,date,location,Fight_type,Winner
0,Henry Cejudo,Marlon Moraes,0,0,90 of 171,57 of 119,52%,47%,99 of 182,59 of 121,...,1 of 1,KO/TKO,3,4:51,5 Rnd (5-5-5-5-5),Marc Goddard,"June 08, 2019","Chicago, Illinois, USA",UFC Bantamweight Title Bout,Henry Cejudo
1,Valentina Shevchenko,Jessica Eye,1,0,8 of 11,2 of 12,72%,16%,37 of 40,42 of 52,...,0 of 0,KO/TKO,2,0:26,5 Rnd (5-5-5-5-5),Robert Madrigal,"June 08, 2019","Chicago, Illinois, USA",UFC Women's Flyweight Title Bout,Valentina Shevchenko
2,Tony Ferguson,Donald Cerrone,0,0,104 of 200,68 of 185,52%,36%,104 of 200,68 of 185,...,0 of 0,TKO - Doctor's Stoppage,2,5:00,3 Rnd (5-5-5),Dan Miragliotta,"June 08, 2019","Chicago, Illinois, USA",Lightweight Bout,Tony Ferguson
3,Jimmie Rivera,Petr Yan,0,2,73 of 192,56 of 189,38%,29%,76 of 195,58 of 192,...,4 of 10,Decision - Unanimous,3,5:00,3 Rnd (5-5-5),Kevin MacDonald,"June 08, 2019","Chicago, Illinois, USA",Bantamweight Bout,Petr Yan
4,Tai Tuivasa,Blagoy Ivanov,0,1,64 of 144,73 of 123,44%,59%,66 of 146,81 of 131,...,6 of 6,Decision - Unanimous,3,5:00,3 Rnd (5-5-5),Dan Miragliotta,"June 08, 2019","Chicago, Illinois, USA",Heavyweight Bout,Blagoy Ivanov

In [7]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5144 entries, 0 to 5143
Data columns (total 41 columns):
R_fighter          5144 non-null object
B_fighter          5144 non-null object
R_KD               5144 non-null int64
B_KD               5144 non-null int64
R_SIG_STR.         5144 non-null object
B_SIG_STR.         5144 non-null object
R_SIG_STR_pct      5144 non-null object
B_SIG_STR_pct      5144 non-null object
R_TOTAL_STR.       5144 non-null object
B_TOTAL_STR.       5144 non-null object
R_TD               5144 non-null object
B_TD               5144 non-null object
R_TD_pct           5144 non-null object
B_TD_pct           5144 non-null object
R_SUB_ATT          5144 non-null int64
B_SUB_ATT          5144 non-null int64
R_PASS             5144 non-null int64
B_PASS             5144 non-null int64
R_REV              5144 non-null int64
B_REV              5144 non-null int64
R_HEAD             5144 non-null object
B_HEAD             5144 non-null object
R_BODY             5144 non-null object
B_BODY             5144 non-null object
R_LEG              5144 non-null object
B_LEG              5144 non-null object
R_DISTANCE         5144 non-null object
B_DISTANCE         5144 non-null object
R_CLINCH           5144 non-null object
B_CLINCH           5144 non-null object
R_GROUND           5144 non-null object
B_GROUND           5144 non-null object
win_by             5144 non-null object
last_round         5144 non-null int64
last_round_time    5144 non-null object
Format             5144 non-null object
Referee            5121 non-null object
date               5144 non-null object
location           5144 non-null object
Fight_type         5144 non-null object
Winner             5061 non-null object
dtypes: int64(9), object(32)
memory usage: 1.6+ MB

In [9]:
for x in df3:
    print(df3[x].value_counts())

Jim Miller            23
Donald Cerrone        22
Diego Sanchez         21
Michael Bisping       21
Demian Maia           21
Matt Hughes           20
Anderson Silva        20
BJ Penn               19
Georges St-Pierre     19
Joe Lauzon            19
Frankie Edgar         19
Frank Mir             19
Lyoto Machida         19
Ross Pearson          19
Andrei Arlovski       19
Thiago Alves          18
Vitor Belfort         18
Rashad Evans          17
Josh Koscheck         17
Gray Maynard          17
Chuck Liddell         17
Tito Ortiz            17
Clay Guida            17
Matt Brown            16
Randy Couture         16
Joseph Benavidez      16
Jon Jones             16
Mauricio Rua          16
Dustin Poirier        16
Chris Leben           16
                      ..
Jose Maria             1
Mickael Lebout         1
Rob Wilkinson          1
Darko Stosic           1
Bobby Nash             1
Vernon White           1
Dustin Jacoby          1
Jessica Rakoczy        1
Juan Espino            1
Alonzo Menifield       1
Jamie Moyle            1
Chris Dempsey          1
Max Griffin            1
Fredson Paixao         1
Vernon Ramos           1
Ron Stallings          1
Roger Bowling          1
Emily Peters Kagan     1
Tom Murphy             1
Alvin Robinson         1
Akbarh Arreola         1
Yusuke Kasuya          1
Mark Hughes            1
Bevon Lewis            1
Laureano Staropoli     1
Naoki Inoue            1
Nicco Montano          1
Aaron Phillips         1
Hayder Hassan          1
Jarjis Danho           1
Name: R_fighter, Length: 1334, dtype: int64
Jeremy Stephens        19
Charles Oliveira       17
Nik Lentz              14
Rafael Dos Anjos       13
Tim Boetsch            13
Kevin Lee              12
Rick Story             12
Evan Dunham            12
Chris Lytle            12
Gleison Tibau          12
Nate Marquardt         11
Sam Alvey              11
Dan Henderson          11
CB Dollaway            11
Yancy Medeiros         11
David Abbott           10
Martin Kampmann        10
Jorge Masvidal         10
Ed Herman              10
Tim Means              10
Andrei Arlovski        10
Tito Ortiz             10
Michael Johnson        10
Andre Fili             10
Clay Guida             10
Kelvin Gastelum        10
Stephen Thompson       10
Anthony Smith          10
Donald Cerrone         10
Jim Miller              9
                       ..
Gavin Tucker            1
Felix Lee Mitchell      1
Bob Gilstrap            1
Junie Browning          1
John Matua              1
Carls John De Tomas     1
Arnold Allen            1
Mark Hominick           1
Bevon Lewis             1
Bubba McDaniel          1
Kelly Faszholz          1
Raoni Barcelos          1
Augusto Sakai           1
Hayato Sakurai          1
Amanda Lemos            1
Icho Larenas            1
Aaron Brink             1
Mike Davis              1
Antonio McKee           1
Polyana Viana           1
Leah Letson             1
Zhang Lipeng            1
Amaury Bitetti          1
Anthony Torres          1
Shane Primm             1
Jose Aldo               1
Alex Reyes              1
Luigi Vendramini        1
Joey Roberts            1
Martin Day              1
Name: B_fighter, Length: 1774, dtype: int64
0    4029
1     960
2     133
3      18
5       2
4       2
Name: R_KD, dtype: int64
0    4352
1     680
2      91
3      18
4       3
Name: B_KD, dtype: int64
0 of 0        35
0 of 1        32
1 of 1        24
2 of 3        18
2 of 4        17
1 of 3        17
3 of 6        16
6 of 8        14
5 of 7        14
6 of 10       14
5 of 9        13
3 of 5        13
2 of 5        13
3 of 8        13
6 of 11       12
3 of 4        12
4 of 4        12
4 of 6        11
4 of 7        11
4 of 10       11
2 of 6        10
7 of 11       10
2 of 7        10
4 of 9        10
1 of 2        10
11 of 18      10
8 of 14       10
5 of 8        10
4 of 8        10
0 of 2        10
              ..
63 of 147      1
79 of 296      1
25 of 109      1
100 of 232     1
27 of 91       1
39 of 77       1
40 of 52       1
82 of 167      1
33 of 95       1
85 of 261      1
42 of 76       1
84 of 150      1
94 of 208      1
57 of 79       1
123 of 187     1
44 of 181      1
46 of 136      1
23 of 60       1
41 of 125      1
17 of 23       1
108 of 217     1
60 of 148      1
25 of 61       1
57 of 99       1
118 of 250     1
25 of 35       1
81 of 217      1
61 of 125      1
110 of 248     1
27 of 41       1
Name: R_SIG_STR., Length: 3038, dtype: int64
0 of 0       52
0 of 1       43
1 of 2       42
1 of 3       34
0 of 2       33
1 of 1       29
0 of 3       28
1 of 4       26
2 of 4       24
3 of 6       22
1 of 5       21
2 of 3       19
2 of 2       18
1 of 6       18
2 of 5       16
4 of 7       16
0 of 4       15
4 of 8       15
1 of 7       13
2 of 6       13
4 of 5       12
4 of 9       12
4 of 6       12
2 of 10      12
6 of 16      12
5 of 12      12
3 of 7       12
2 of 7       12
6 of 10      11
3 of 5       11
             ..
69 of 153     1
71 of 212     1
55 of 105     1
13 of 73      1
69 of 142     1
13 of 19      1
57 of 132     1
48 of 137     1
69 of 137     1
43 of 160     1
42 of 51      1
47 of 78      1
84 of 173     1
1 of 15       1
75 of 130     1
49 of 94      1
40 of 70      1
6 of 53       1
53 of 169     1
54 of 160     1
69 of 145     1
8 of 42       1
32 of 55      1
58 of 121     1
82 of 166     1
19 of 50      1
27 of 37      1
58 of 133     1
19 of 83      1
28 of 83      1
Name: B_SIG_STR., Length: 2903, dtype: int64
50%    242
40%    155
42%    144
47%    137
33%    136
44%    135
52%    133
37%    130
41%    125
46%    122
43%    122
38%    120
45%    120
36%    118
55%    118
35%    112
60%    109
48%    109
66%    107
53%    103
51%    102
56%    101
57%     99
0%      99
34%     98
32%     98
54%     92
58%     92
31%     80
39%     79
      ...
84%     12
85%     12
87%     11
81%     11
14%     10
19%     10
17%      9
12%      9
88%      9
79%      8
11%      8
82%      7
13%      6
10%      5
90%      5
92%      5
86%      5
7%       4
9%       4
15%      4
93%      3
8%       3
6%       2
89%      2
96%      2
95%      2
4%       1
2%       1
94%      1
5%       1
Name: R_SIG_STR_pct, Length: 95, dtype: int64
50%    256
0%     199
33%    193
40%    168
37%    138
42%    133
44%    132
38%    131
36%    129
41%    125
35%    117
34%    115
46%    114
45%    114
25%    112
43%    108
30%    106
31%    105
52%    104
48%    101
32%     98
47%     97
39%     89
57%     86
53%     84
28%     84
56%     82
20%     79
29%     79
60%     77
      ...
15%     21
11%     18
69%     17
73%     15
12%     15
83%     13
67%     12
77%     11
10%     10
78%     10
13%     10
74%      9
85%      8
7%       7
76%      7
81%      6
9%       6
86%      5
8%       5
90%      4
92%      4
79%      4
82%      2
88%      2
6%       2
3%       2
5%       2
4%       1
93%      1
87%      1
Name: B_SIG_STR_pct, Length: 90, dtype: int64
0 of 0        24
0 of 1        18
1 of 1        17
1 of 3        12
2 of 3        12
4 of 6        12
5 of 7        11
11 of 15      10
3 of 5        10
2 of 4        10
7 of 11       10
9 of 12       10
1 of 2        10
2 of 7         9
6 of 11        9
3 of 6         9
2 of 2         8
7 of 10        8
3 of 4         8
6 of 8         8
17 of 37       8
4 of 10        7
5 of 10        7
1 of 4         7
6 of 10        7
12 of 19       7
11 of 18       7
3 of 3         7
4 of 8         7
4 of 7         7
              ..
11 of 30       1
32 of 33       1
102 of 156     1
66 of 144      1
36 of 81       1
22 of 23       1
100 of 228     1
27 of 97       1
74 of 107      1
70 of 159      1
114 of 162     1
64 of 97       1
12 of 49       1
85 of 149      1
92 of 188      1
148 of 225     1
103 of 125     1
33 of 119      1
100 of 225     1
50 of 110      1
58 of 78       1
81 of 121      1
107 of 168     1
7 of 33        1
133 of 179     1
65 of 102      1
22 of 85       1
75 of 160      1
58 of 76       1
73 of 134      1
Name: R_TOTAL_STR., Length: 3681, dtype: int64
0 of 0        34
0 of 1        32
1 of 2        27
1 of 3        24
0 of 2        21
1 of 1        18
1 of 4        18
0 of 3        17
2 of 2        16
3 of 6        15
2 of 4        14
4 of 7        13
1 of 5        13
2 of 6        12
2 of 5        12
3 of 5        11
4 of 6        11
3 of 10       11
1 of 6        11
1 of 7        11
6 of 13       11
2 of 3        11
3 of 3        10
7 of 12       10
7 of 10        9
3 of 4         9
2 of 7         9
5 of 8         9
11 of 18       9
3 of 7         8
              ..
42 of 62       1
79 of 162      1
103 of 204     1
20 of 57       1
23 of 86       1
60 of 116      1
76 of 85       1
139 of 229     1
60 of 79       1
101 of 128     1
33 of 112      1
10 of 45       1
96 of 190      1
105 of 122     1
95 of 136      1
139 of 157     1
123 of 239     1
42 of 111      1
134 of 182     1
55 of 161      1
58 of 161      1
77 of 238      1
112 of 150     1
40 of 73       1
147 of 318     1
59 of 151      1
127 of 223     1
51 of 229      1
193 of 236     1
80 of 127      1
Name: B_TOTAL_STR., Length: 3479, dtype: int64
0 of 0      1595
1 of 1       547
0 of 1       425
1 of 2       247
0 of 2       179
2 of 2       154
1 of 3       125
2 of 3       121
2 of 4        94
1 of 4        87
0 of 3        86
3 of 3        69
3 of 4        68
2 of 5        63
1 of 5        59
0 of 4        55
3 of 5        51
3 of 6        48
2 of 6        40
4 of 6        38
4 of 5        36
3 of 7        34
0 of 5        34
4 of 4        33
1 of 6        32
2 of 7        31
4 of 7        28
3 of 8        28
5 of 6        27
5 of 7        26
            ...
3 of 14        1
2 of 19        1
0 of 17        1
6 of 17        1
9 of 21        1
7 of 19        1
4 of 22        1
1 of 17        1
0 of 14        1
7 of 15        1
10 of 19       1
13 of 16       1
21 of 27       1
8 of 15        1
8 of 11        1
1 of 23        1
16 of 19       1
11 of 14       1
4 of 18        1
9 of 12        1
5 of 19        1
4 of 16        1
6 of 22        1
1 of 21        1
12 of 12       1
7 of 20        1
0 of 19        1
7 of 7         1
5 of 15        1
14 of 22       1
Name: R_TD, Length: 157, dtype: int64
0 of 0      1902
0 of 1       532
1 of 1       357
0 of 2       239
1 of 2       219
1 of 3       139
0 of 3       136
2 of 2        95
1 of 4        88
2 of 3        79
2 of 4        74
0 of 4        63
1 of 5        61
0 of 5        53
2 of 5        51
3 of 4        51
1 of 6        50
2 of 6        47
3 of 3        45
3 of 5        35
3 of 6        35
2 of 7        32
0 of 6        29
2 of 8        27
1 of 7        26
3 of 7        25
3 of 8        25
0 of 7        21
2 of 9        20
4 of 6        19
            ...
12 of 18       1
11 of 23       1
1 of 28        1
3 of 18        1
8 of 10        1
0 of 14        1
11 of 33       1
10 of 21       1
0 of 27        1
7 of 11        1
12 of 14       1
8 of 15        1
9 of 11        1
10 of 26       1
9 of 23        1
6 of 16        1
1 of 15        1
7 of 20        1
4 of 15        1
12 of 17       1
7 of 15        1
1 of 19        1
2 of 30        1
2 of 17        1
9 of 13        1
0 of 16        1
2 of 22        1
10 of 17       1
3 of 19        1
8 of 21        1
Name: B_TD, Length: 154, dtype: int64
0%      2456
100%     837
50%      426
33%      189
66%      177
25%      113
75%       81
40%       81
20%       75
60%       64
42%       42
16%       41
80%       40
28%       31
37%       31
57%       30
14%       29
83%       29
30%       27
71%       26
11%       22
55%       18
12%       18
22%       17
36%       15
44%       14
85%       12
62%       12
63%       10
10%       10
        ...
35%        7
77%        6
7%         6
23%        6
15%        5
81%        5
26%        4
87%        4
46%        4
8%         4
53%        4
58%        4
90%        4
5%         3
29%        3
43%        3
61%        3
84%        2
56%        2
64%        2
73%        2
4%         2
31%        2
21%        1
92%        1
52%        1
76%        1
72%        1
88%        1
78%        1
Name: R_TD_pct, Length: 69, dtype: int64
0%      3028
100%     535
50%      358
33%      211
25%      127
66%      108
20%       78
16%       65
40%       65
75%       59
60%       44
28%       37
14%       30
42%       27
37%       26
12%       21
57%       20
22%       20
80%       18
10%       14
71%       14
30%       14
11%       14
55%       14
44%       13
83%       12
27%       12
38%       11
62%       10
35%       10
        ...
36%        9
85%        7
7%         7
41%        7
18%        7
45%        6
70%        6
5%         5
54%        5
23%        5
15%        5
46%        4
58%        3
21%        3
53%        3
13%        3
26%        3
31%        3
6%         3
72%        2
47%        2
90%        2
88%        2
77%        2
81%        1
17%        1
69%        1
3%         1
39%        1
63%        1
Name: B_TD_pct, Length: 62, dtype: int64
0     3504
1     1033
2      389
3      129
4       50
5       21
6        8
7        6
8        2
10       1
9        1
Name: R_SUB_ATT, dtype: int64
0    3991
1     699
2     293
3     106
4      33
5      14
7       4
6       4
Name: B_SUB_ATT, dtype: int64
0     2712
1      863
2      549
3      327
4      234
5      145
6       90
7       67
8       54
9       31
11      21
10      20
13       9
12       5
14       5
15       5
19       2
16       2
20       1
26       1
17       1
Name: R_PASS, dtype: int64
0     3395
1      786
2      381
3      213
4      140
5       81
6       58
7       34
8       18
9       16
10       9
11       5
14       3
13       3
12       2
Name: B_PASS, dtype: int64
0    4540
1     503
2      84
3      11
4       5
5       1
Name: R_REV, dtype: int64
0    4583
1     451
2      91
3      19
Name: B_REV, dtype: int64
0 of 0        59
0 of 1        50
1 of 1        24
1 of 3        24
2 of 5        24
1 of 2        23
0 of 3        21
0 of 2        20
2 of 6        19
2 of 4        18
0 of 4        18
3 of 7        17
3 of 8        17
3 of 5        17
1 of 5        16
3 of 4        16
6 of 12       16
4 of 12       15
1 of 6        15
2 of 3        15
1 of 4        15
5 of 9        15
4 of 9        14
5 of 14       14
1 of 7        13
6 of 11       12
4 of 8        12
6 of 17       12
6 of 13       11
2 of 7        11
              ..
63 of 267      1
31 of 176      1
0 of 21        1
34 of 54       1
36 of 95       1
18 of 54       1
32 of 49       1
35 of 206      1
11 of 57       1
70 of 241      1
67 of 180      1
13 of 64       1
125 of 304     1
17 of 40       1
26 of 49       1
8 of 56        1
47 of 78       1
27 of 131      1
27 of 37       1
28 of 88       1
18 of 78       1
45 of 88       1
3 of 53        1
32 of 59       1
4 of 28        1
73 of 174      1
55 of 257      1
72 of 191      1
29 of 89       1
12 of 73       1
Name: R_HEAD, Length: 2620, dtype: int64
0 of 0        104
0 of 1         93
0 of 2         63
0 of 3         42
1 of 2         37
1 of 3         34
1 of 4         34
1 of 5         32
0 of 4         31
0 of 5         28
1 of 6         26
1 of 1         25
2 of 6         23
1 of 7         20
3 of 6         20
2 of 8         18
2 of 4         16
2 of 7         16
1 of 8         16
0 of 6         16
2 of 5         16
2 of 3         14
3 of 11        14
3 of 10        13
2 of 10        13
4 of 8         13
3 of 5         13
1 of 12        12
2 of 9         12
3 of 7         12
             ...
48 of 139       1
14 of 83        1
75 of 201       1
27 of 99        1
22 of 41        1
29 of 103       1
56 of 127       1
13 of 86        1
1 of 29         1
8 of 47         1
29 of 141       1
42 of 70        1
27 of 104       1
61 of 144       1
34 of 56        1
138 of 236      1
19 of 109       1
15 of 27        1
36 of 125       1
33 of 86        1
50 of 189       1
30 of 129       1
24 of 69        1
8 of 92         1
18 of 73        1
35 of 89        1
24 of 38        1
3 of 46         1
13 of 73        1
12 of 73        1
Name: B_HEAD, Length: 2475, dtype: int64
0 of 0      635
1 of 1      332
2 of 2      215
1 of 2      145
0 of 1      139
2 of 3      128
3 of 3      126
4 of 4       87
3 of 4       84
3 of 5       79
4 of 5       76
5 of 5       69
5 of 6       67
5 of 7       67
2 of 4       64
1 of 3       58
4 of 6       56
6 of 7       52
6 of 6       50
4 of 7       48
7 of 7       46
8 of 9       44
3 of 6       41
6 of 10      40
6 of 8       40
0 of 2       38
1 of 4       37
5 of 8       36
7 of 10      35
6 of 9       35
           ...
36 of 49      1
17 of 30      1
29 of 60      1
40 of 48      1
6 of 19       1
21 of 22      1
26 of 45      1
42 of 70      1
47 of 55      1
16 of 29      1
50 of 71      1
17 of 38      1
42 of 45      1
19 of 27      1
31 of 49      1
22 of 23      1
8 of 34       1
21 of 30      1
20 of 37      1
30 of 42      1
28 of 33      1
25 of 47      1
23 of 32      1
32 of 43      1
21 of 34      1
17 of 36      1
52 of 56      1
26 of 26      1
22 of 39      1
9 of 23       1
Name: R_BODY, Length: 541, dtype: int64
0 of 0      756
1 of 1      349
2 of 2      191
0 of 1      173
1 of 2      153
2 of 3      126
3 of 4      115
3 of 3      114
4 of 5       96
4 of 4       69
3 of 5       67
5 of 6       65
2 of 4       65
1 of 3       63
4 of 6       58
2 of 5       56
3 of 6       52
5 of 5       50
5 of 8       46
6 of 8       46
7 of 9       43
6 of 7       43
0 of 2       42
4 of 7       42
1 of 4       40
5 of 7       39
6 of 9       38
7 of 8       35
6 of 6       34
7 of 10      33
           ...
23 of 25      1
15 of 42      1
9 of 29       1
48 of 64      1
30 of 42      1
20 of 36      1
6 of 22       1
10 of 27      1
18 of 31      1
17 of 48      1
18 of 18      1
25 of 32      1
21 of 22      1
13 of 37      1
25 of 27      1
31 of 48      1
19 of 20      1
12 of 26      1
16 of 16      1
34 of 41      1
31 of 32      1
29 of 45      1
33 of 38      1
23 of 37      1
24 of 38      1
33 of 65      1
29 of 47      1
21 of 27      1
20 of 24      1
33 of 44      1
Name: B_BODY, Length: 508, dtype: int64
0 of 0      1117
1 of 1       502
2 of 2       342
3 of 3       215
4 of 4       173
2 of 3       122
1 of 2       121
0 of 1       109
5 of 5       103
3 of 4       100
4 of 5        98
6 of 6        67
7 of 7        60
5 of 6        53
3 of 5        52
6 of 7        49
4 of 6        46
1 of 3        45
7 of 8        44
2 of 4        43
5 of 7        42
8 of 8        42
8 of 9        37
9 of 10       33
8 of 10       32
9 of 9        30
6 of 8        28
7 of 9        27
10 of 11      26
10 of 10      26
            ...
14 of 25       1
2 of 8         1
38 of 51       1
31 of 47       1
41 of 64       1
1 of 7         1
41 of 45       1
44 of 49       1
10 of 19       1
0 of 4         1
47 of 61       1
5 of 14        1
15 of 29       1
30 of 36       1
30 of 33       1
52 of 58       1
28 of 28       1
23 of 43       1
31 of 35       1
27 of 32       1
28 of 49       1
19 of 41       1
46 of 65       1
49 of 54       1
37 of 40       1
37 of 43       1
36 of 38       1
39 of 41       1
9 of 23        1
14 of 22       1
Name: R_LEG, Length: 393, dtype: int64
0 of 0      1110
1 of 1       529
2 of 2       298
3 of 3       189
0 of 1       157
4 of 4       146
1 of 2       138
2 of 3       131
3 of 4       105
4 of 5        87
5 of 5        85
6 of 6        75
5 of 6        68
2 of 4        67
7 of 7        62
7 of 8        58
3 of 5        55
1 of 3        55
6 of 7        54
8 of 9        41
6 of 8        40
4 of 6        39
8 of 8        39
5 of 7        38
7 of 9        36
9 of 10       35
10 of 11      31
9 of 11       30
7 of 10       29
0 of 2        29
            ...
53 of 55       1
24 of 29       1
27 of 46       1
36 of 43       1
27 of 52       1
8 of 14        1
37 of 48       1
18 of 29       1
10 of 20       1
38 of 41       1
37 of 42       1
23 of 25       1
9 of 16        1
50 of 59       1
21 of 34       1
9 of 21        1
39 of 44       1
15 of 21       1
38 of 46       1
28 of 48       1
33 of 38       1
23 of 34       1
19 of 26       1
32 of 44       1

In [15]:
df_blue = df.filter(regex = '^B_', axis = 1)
df_blue.head()

,B_fighter,B_current_lose_streak,B_current_win_streak,B_draw,B_avg_BODY_att,B_avg_BODY_landed,B_avg_CLINCH_att,B_avg_CLINCH_landed,B_avg_DISTANCE_att,B_avg_DISTANCE_landed,...,B_win_by_Decision_Unanimous,B_win_by_KO/TKO,B_win_by_Submission,B_win_by_TKO_Doctor_Stoppage,B_wins,B_Stance,B_Height_cms,B_Reach_cms,B_Weight_lbs,B_age
0,Marlon Moraes,0.0,4.0,0.0,9.200000,6.000000,0.200000,0.000000,62.600000,20.600000,...,0.0,2.0,1.0,0.0,4.0,Orthodox,167.64,170.18,135.0,31.0
1,Jessica Eye,0.0,3.0,0.0,14.600000,9.100000,11.800000,7.300000,124.700000,42.100000,...,1.0,0.0,0.0,1.0,4.0,Orthodox,167.64,167.64,125.0,32.0
2,Donald Cerrone,0.0,3.0,0.0,15.354839,11.322581,6.741935,4.387097,84.741935,38.580645,...,7.0,10.0,6.0,0.0,23.0,Orthodox,185.42,185.42,155.0,36.0
3,Petr Yan,0.0,4.0,0.0,17.000000,14.000000,13.750000,11.000000,109.500000,48.750000,...,2.0,2.0,0.0,0.0,4.0,Switch,170.18,170.18,135.0,26.0
4,Blagoy Ivanov,0.0,1.0,0.0,17.000000,14.500000,2.500000,2.000000,201.000000,59.500000,...,1.0,0.0,0.0,0.0,1.0,Southpaw,180.34,185.42,250.0,32.0

In [16]:
df_Red = df.filter(regex = '^R_', axis = 1)
df_Red.head()

,R_fighter,R_current_lose_streak,R_current_win_streak,R_draw,R_avg_BODY_att,R_avg_BODY_landed,R_avg_CLINCH_att,R_avg_CLINCH_landed,R_avg_DISTANCE_att,R_avg_DISTANCE_landed,...,R_win_by_Decision_Unanimous,R_win_by_KO/TKO,R_win_by_Submission,R_win_by_TKO_Doctor_Stoppage,R_wins,R_Stance,R_Height_cms,R_Reach_cms,R_Weight_lbs,R_age
0,Henry Cejudo,0.0,4.0,0.0,21.900000,16.400000,17.000000,11.000000,75.000000,26.500000,...,4.0,2.0,0.0,0.0,8.0,Orthodox,162.56,162.56,135.0,32.0
1,Valentina Shevchenko,0.0,2.0,0.0,12.000000,7.714286,9.285714,6.857143,88.142857,36.142857,...,2.0,0.0,2.0,0.0,5.0,Southpaw,165.10,167.64,125.0,31.0
2,Tony Ferguson,0.0,11.0,0.0,13.866667,8.666667,2.866667,1.733333,116.133333,49.466667,...,3.0,3.0,6.0,1.0,14.0,Orthodox,180.34,193.04,155.0,35.0
3,Jimmie Rivera,1.0,0.0,0.0,18.250000,10.250000,5.875000,4.125000,104.875000,41.000000,...,4.0,1.0,0.0,0.0,6.0,Orthodox,162.56,172.72,135.0,29.0
4,Tai Tuivasa,1.0,0.0,0.0,7.750000,6.750000,11.000000,7.250000,50.750000,24.750000,...,1.0,2.0,0.0,0.0,3.0,Southpaw,187.96,190.50,264.0,26.0